body {
  text-align: center;
  font-family: helvetica;
}

h1 {
    font-size: 70px;
}

.pagehead {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  font-size: 18px;
  color: white;
}

ul {
    list-style-type: none;
}
