body {
  text-align: center;
  font-family: helvetica;
}

h1 {
    font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.home, #design {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  font-size: 18px;
  color: white;
}

ul {
  list-style-type: none;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
